.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    &.content {
      opacity: 0.9;
    }
  }
  &.womens {
    min-width: 49%;
    height: 38rem;
    float: right;
    margin-bottom: 1%;
    transform: translateX(2%);
  }

  &.mens {
    transform: translateY(-14rem);
    min-width: 50%;
    height: 38rem;
  }
  &.hats {
    min-width: 50%;
    height: 24rem;
    float: left;
  }

  &.sneakers {
    min-width: 49%;
    height: 24rem;
    float: right;
    transform: translateX(2%);
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;

    ion-icon {
      font-weight: 900;
      content: "";
      position: absolute;
      transition: 0.2s all;
      opacity: 1;
      color: #fff;

      &:hover {
        position: absolute;
        opacity: 1;
        fill: var(--color-primary);
      }
    }
  }
}
