@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-mini {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-1024 {
    @media only screen and (max-width: 64em) {
      @content;
    } //1024px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  fill: var(--color-grey-dark-1);

  &:hover {
    fill: var(--color-grey-dark-2);
  }
}
