:root {
  --color-primary: #d72323;
 
  --color-grey-light-1: ##f5eded;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #ccc;

  --color-grey-dark-1: #3a3a3a;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --default-font-size: 1.4rem;
}
