.cart-icon {
  position: relative;
  cursor: pointer;
  height: 2.6rem;
}

.shopping-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-grey-dark-1);

  &:hover {
    fill: var(--color-grey-dark-2);
  }
}

.item-count {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
