.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.6rem;
}

.shopping-icon {
  width: 2.6rem;
  height: 2.6rem;
}

.cart-itemcount-wrapper {
  position: absolute;
  left: 1.4rem;
  width: 1.8rem;
  height: 1.8rem;
  bottom: -3px;
  background-color: rgb(163, 1, 1);
  bottom: -3px;
  border-radius: 9px;
}

.item-count {
  margin-bottom: 5px;
  margin-left: 6px;
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-weight: 900;
  color: white;
  text-align: center;

  text-align: center;
}
