.LinkStyling {
  text-decoration: none;
  color: grey;
}

.page-link {
  color: #a7a7a7;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 400;
}
.navigate-link {
  &:hover {
    color: #3a3a3a;
    cursor: pointer;
  }
}