.feed-container{
  position: relative;
}
.Feed {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr 1fr);
  grid-template-rows: (1fr 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.Feed a:nth-of-type(1n + 9) {
  display: none;
}

.Feed a img {
  width: 100%;
  float: left;
}

.text-wrapper-social {
  position: absolute;
  z-index: 3;
  width: 15rem;
  background-color: white;
  height: 15rem;
  border-radius: 7.5rem;
  opacity: 0.9;
  left: 44%;
  top: 38%;

}
.coruja-store {
  color: #3a3a3a;
  background-position: center;
  z-index: 5;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60%);
}
