.feed-container {
  position: relative;
  overflow: hidden;
  height: 55rem;

  @include respond(tab-land) {
    height: 45rem;
  }
  @include respond(tab-mini) {
    height: 35rem;
  }

  @include respond(phone) {
    height: 25rem;
  }
}
.Feeds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fff;
  color: #444;

  @include respond(phone) {
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
}

.Feeds a:nth-of-type(1n + 8) {
  display: none;
}

.Feeds a:nth-of-type(1n + 5) {
  transform: translateY(-50%);

  @include respond(phone) {
    margin-top: 0;
  }
}
.Feeds a img {
  width: 100%;
  border-radius: 5px;
  padding: 1px;
  transition: ease-out 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.text-wrapper-social {
  position: absolute;
  z-index: 3;
  width: 15rem;
  background-color: white;
  height: 15rem;
  border-radius: 7.5rem;
  opacity: 0.9;
  left: 44%;
  top: 35%;

  @include respond(tab-mini) {
    width: 10rem;
    height: 10rem;
    border-radius: 150%;
    @include centerfix;
  }
}
.coruja-store {
  color: #3a3a3a;
  background-position: center;
  z-index: 5;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -55%);

  @include respond(tab-mini) {
    font-size: 1.2rem;
    transform: translate(-50%, -60%);
  }
}
