#instafeed {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
  grid-template-rows: (1fr 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  margin: 0;
  position: relative;
}

#instafeed a {
  display: block;
}

#instafeed img {
  display: block;
  width: 100%;
}
