.social-media-box {
  width: 100%;
  position: relative;
}

.btn-subscribe {
  padding: 1rem 2.8rem;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.8px;
  border: 1px solid #3a3a3a;
  position: absolute;
  right: 0;
  top: 4rem;
  &:hover {
    background-color: #3a3a3a;
    color: white;
  }
}
