.men-page {
  width: 100%;
}
.LinkStyling {
  text-decoration: none;
  color: grey;
}

.page-link {
  @include page-navigate;
  margin-bottom: 3rem;
}
.navigate-link {
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
    cursor: pointer;
  }
}
