@mixin centerfix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popup {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.5);
  position: fixed;
  z-index: 9999;

  transition: all 0.3s;
  overflow: hidden;

  //open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .popup__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    height: 70%;
    box-shadow: 0 2rem 4rem rgba(black, 0.2);
    background-color: white;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s 0.2s;
    overflow: hidden;

    @include respond(tab-mini) {
      flex-wrap: wrap;
    }
  }

  .popup__left-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding: 3rem 3rem;

    .product-img {
      max-width: 100%;
    }

    @include respond(tab-mini) {
      width: 50%;
    }
  }

  .popup__right-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 3rem;
    color: #3a3a3a;
  }

  .popup__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
    cursor: pointer;

    color: #3a3a3a;
    z-index: 4000;

    &:hover {
      color: gray;

      svg {
        fill: var(--color-primary);
      }
    }

    svg {
      fill: #3a3a3a;
    }
  }
  .text-details {
    color: gray;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .price {
    font-size: 2.5rem;
    color: gray;
  }

  .available {
    font-size: 1.4rem;
    color: lightgreen;
    margin-top: 0.5rem;
  }

  .button-wrapper {
    display: flex;

    :not(:last-child) {
      margin-right: 10%;
    }

    :not(:first-child) {
      margin-top: 0.6rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
  }
}

.header-medium {
  font-size: 3rem;
  color: #3a3a3a;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 1.2px;

  @include respond(tab-mini) {
    font-size: 2rem;
  }
}
