.collection-item-wrapper {
  width: 19vw;
  position: relative;
  button {
    position: absolute;
    bottom: -7rem;
    margin: 0 auto;
    width: 100%;
  }
}
.collection-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 45rem;
  align-items: center;
  position: relative;

  &:hover {
    box-shadow: 0.8rem 1.2rem 3rem rgba(#ccc, 0.4);
    cursor: pointer;

    #addCart {
      opacity: 1;
      z-index: 200;
    }
    .heart-icon-wrapper {
      opacity: 1;
      z-index: 300;
    }
  }

  .heart-icon-wrapper {
    width: 3.5rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    opacity: 0;
  }
  .wishlist-btn {
    width: 100%;

    &:active {
      -webkit-animation: scale-up-center 0.4s
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }

  .collection-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
  }

  .collection-footer {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-left: 1rem;

    .name {
      margin-bottom: 0.5rem;
      font-weight: 700;
      color: #3a3a3a;
      letter-spacing: 1.5px;
      padding-top: 0.5rem;
    }

    .price {
      font-weight: 700;
      color: #807d7d;
    }
  }
}

#addCart {
  display: block;
  opacity: 0;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  &:active {
    animation: bounce;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
