@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.cta-section {
  width: 100%;
  position: relative;
  padding-bottom: 20rem;
  @include clearfix;
}

.cta-primary-header {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1;
  position: absolute;
  color: white;
  top: 15rem;
  left: 10rem;
}

.shop-btn {
  display: block;
  position: absolute;
  top: 28rem;
  text-decoration: none;
  left: 10rem;
}

.social-media-icons {
  float: right;
  align-content: center;
  margin-right: 3rem;
  padding-top: 15rem;
}

.social-icon {
  display: block;
  margin-bottom: 3rem;
  cursor: pointer;
}

.cta-bg-img {
  width: 100%;
  filter: brightness(80%);
}

.cta-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
}
