.cta-section {
  min-height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
  background-image: url("https://source.unsplash.com/du8AbwM5z2g/1200x900");
  background-size: cover;
  background-position: center top;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin: 3rem 0;

  @include respond(tab-land) {
    font-size: 2rem;
    min-height: 60vh;
    margin: 4rem 0;
  }

  @include respond(tab-1024) {
    margin: 2rem 0;
    background-image: url("https://source.unsplash.com/du8AbwM5z2g/1000x600");
  }

  @include respond(phone) {
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0.4),
        rgba(black, 0.4)
      ),
      url("https://source.unsplash.com/jlo7Bf4tUoY/700x600");
  }

  .cta-section__btns {
    display: flex;
    flex-direction: column;
    transform: translateY(2rem);

    & > * {
      margin-left: 5rem;

      @include respond(tab-1024) {
        transform: translateY(0rem);
        margin-left: 4.5rem;
        transform: translateY(-3rem);
      }
    }
  }

  @include respond(phone) {
    justify-content: center;
    align-items: center;
  }

  .cta-btns {
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      flex-direction: column;
    }

    & > * {
      margin-top: 2rem;
      margin-right: 5rem;

      @include respond(tab-land) {
        margin-top: 1.5rem;
        margin-right: 3.5rem;
      }
    }

    button {
      @include respond(tab-land) {
        width: 100%;
      }

      @include respond(tab-1024) {
        font-size: 1.6rem;
        line-height: 5rem;
      }

      @include respond(phone) {
        width: 80%;
        line-height: none;
        letter-spacing: 0.7px;
        height: 5rem;
        padding: 0;
        font-size: 1.4rem;
        transform: translateX(1rem);
      }
    }
  }

  .hero__header {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1;
    color: var(--color-grey-dark-1);

    @include respond(tab-land) {
      font-size: 4.5rem;
      letter-spacing: 4px;
    }

    @include respond(tab-1024) {
      font-size: 3.5rem;
      letter-spacing: 3px;
    }

    @include respond(phone) {
      text-align: center;
      margin: 0;
      color: white;
    }
  }

  .social-media-icons {
    display: block;
    position: absolute;
    right: 5rem;
    transform: translateY(5rem);

    @include respond(phone) {
      display: flex;
      flex-direction: row;
      bottom: 20%;
      justify-content: center;
      right: auto;
    }
  }

  .social-icon {
    display: flex;
    margin-bottom: 3rem;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    fill: var(--color-grey-dark-1);

    @include respond(tab-1024) {
      width: 2rem;
      height: 2rem;
      margin-bottom: 2rem;
    }

    @include respond(phone) {
      margin-right: 2rem;
      fill: #fff;
    }

    &:hover {
      -webkit-animation: rotate-center 0.6s ease-in-out both;
      animation: rotate-center 0.6s ease-in-out both;
      fill: var(--color-grey-dark-2);
    }
  }
}
