.discounts-sales {
  margin-top: -10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include respond(tab-land) {
    margin-top: -15rem;
  }

  @include respond(tab-port) {
    margin-top: -10rem;
  }

  @include respond(tab-mini) {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .left-wrapper {
    width: 50%;

    @include respond(tab-mini) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .discounts-content {
    @include respond(tab-mini) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .discounts__header-primary {
    @include header--primary;
    margin-bottom: 2.5rem;

    @include respond(tab-mini) {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .discounts__text {
    font-size: 1.3rem;
    color: #3a3a3a;
    line-height: 1.5;
    display: block;
    width: 85%;
    margin-bottom: 6rem;

    @include respond(tab-mini) {
      margin-bottom: 3rem;
      width: 80%;
    }
  }

  .best-selling--wrapper {
    background-image: url("https://source.unsplash.com/E-0ON3VGrBc/1400x700");
    width: 100%;
    height: 40rem;
    background-size: cover;
    padding: 5rem;
    height: 42rem;

    @include respond(tab-land) {
      background-image: url("https://source.unsplash.com/E-0ON3VGrBc/1000x700");
    }

    @include respond(tab-mini) {
      margin-bottom: 3rem;
    }
  }

  .header-small {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
  }

  .header-medium {
    font-size: 3rem;
    color: #3a3a3a;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  .btn-text {
    &:link,
    &:visited {
      color: #3a3a3a;
      display: inline-block;
      text-decoration: none;
      border-bottom: solid 1px#3a3a3a;
      padding: 3px;
      font-size: 1.4rem;
      transition: all 0.2s;
      margin-bottom: 7rem;
    }

    &:hover {
      background-color: #3a3a3a;
      color: white;
      box-shadow: 0 1rem 2rem rgba(black, 0.15);
      transform: translateY(-1px);
    }
  }

  .buy-now {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  .right-wrapper {
    width: 50%;
    padding-left: 4rem;

    @include respond(tab-mini) {
      width: 100%;
      padding: 0;
    }
  }
  .top-discount--wrapper {
    background-image: url("https://source.unsplash.com/3Y3OZ1XUvfo/1400x700");
    width: 100%;
    height: 40rem;
    background-size: cover;
    padding: 5rem;
    margin-bottom: 6rem;

    @include respond(tab-1024) {
      background-image: url("https://source.unsplash.com/3Y3OZ1XUvfo/1000x700");
    }

    @include respond(tab-mini) {
      display: none;
    }
  }

  .newsletter-wrapper {
    border: solid 1px var(--color-grey-dark-3);
    height: 18.5rem;
    color: var(--color-grey-dark-3);
    padding: 2.5rem;
  }

  .newsletter-header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .newsletter-content {
    display: block;
    width: 65%;
    line-height: 1.7;
    margin-bottom: 2rem;

    @include respond(tab-mini) {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--color-grey-dark-2);
    }
  }

  .newsletter-subscibe {
    border: none;
    border-bottom: solid 1px#3a3a3a;
    width: 65%;
    padding-bottom: 5px;
    outline: none;

    @include respond(tab-mini) {
      width: 100%;
    }
  }

  .email-label {
    text-transform: uppercase;
    font-weight: 700;
    color: #3a3a3a;
    display: inline-block;
    transform: translate(-6rem, -2px);
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;

    @include respond(tab-mini) {
      width: 100%;
      position: absolute;
      left: 18rem;
    }
  }
}
