.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 10rem;
  border-bottom: 1px solid var(--color-grey-dark-3);
  padding: 1.5rem 0;
  font-size: 1.4rem;
  align-items: center;
  color: var(--color-grey-dark-1);

  @include respond(phone) {
    letter-spacing: 1px;
  }

  .image-container {
    width: 19%;

    @include respond(phone) {
      width: 40%;
    }

    img {
      width: 50%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 19%;
    text-transform: uppercase;
    color: #3a3a3a;
    letter-spacing: 1.4px;
    font-weight: 700;

    @include respond(phone) {
      letter-spacing: 1px;
      font-size: 1.3rem;
    }
  }

  .name {
    @include respond(phone) {
      margin-left: -22%;
    }
  }

  .total-price {
    font-weight: 700;
    width: 19%;
    transform: translateX(-30%);
  }

  .price {
    @include respond(phone) {
      display: none;
    }
  }

  .quantity {
    display: flex;
    justify-content: flex-start;

    .arrow {
      cursor: pointer;
      margin: 0 1.5rem;

      @include respond(phone) {
        margin: 0 0.8rem;
        transform: translateX(-30%);
      }
    }
  }

  .remove-button {
    width: 5%;
    cursor: pointer;
    transform: translateX(-30%);
  }
}
