.checkout-page {
  width: 75%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .header-medium {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    font-size: 1.3rem;
    height: 5rem;

    .header-block {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      color: gray;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  button {
    margin-left: auto;
    margin-top: 50px;
  }
  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
  }
  .shopping-cart-wrapper {
    width: 100%;
  }
  .empty-cart-wrapper {
    text-align: center;
    button {
      margin: 2.5rem auto;
      width: 100%;
    }

    span {
      font-size: 1.4rem;
    }
  }

  .empty-message {
    font-size: 5rem;
    color: #3a3a3a;
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}
