.my-account {
    padding: 0 5%;
  .account-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }

  .header__my-account {
    font-size: 5rem;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-top: 6rem;
    letter-spacing: 2px;
    text-align: center;
  }

  .header-wishlist {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-bottom: 2rem;
    font-weight: 900;
  }

  .text-my-account {
    font-size: 1.8rem;
    color: #3a3a3a;
    margin-bottom: 2rem;
  }
}
